.app {
    width: 100%;
    height: 100vh;
    background-color: hsl(213, 19%, 18%);
    display: grid;
    place-items: center;
}

.btn-box {
    margin: 0 auto;
    width: 400px;
    display: flex;
}

/* .btn-box button {
    width: 11rem;
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid white;
  } */

/* .btn-box .primary {
  
    background: white;
    color: black;
  } */